
<head>
  <link rel="stylesheet" href="./styles/gallery.css" />
</head>
<div class="container">
  <h1 class="gallery-title">GALLERY</h1>
  <div class="slider-wrapper">
    <button id="prev-slide" class="slide-button material-symbols-rounded">chevron_left</button>
    <div id="image-gallery" class="image-list">
      <img class="image-item" src="../gallery/image1.jpg" />
      <img class="image-item" src="../gallery/image2.jpg" />
      <img class="image-item" src="../gallery/image3.jpg" />
      <img class="image-item" src="../gallery/image4.jpg" />
      <img class="image-item" src="../gallery/image5.jpg" />
      <img class="image-item" src="../gallery/image6.jpg" />
      <img class="image-item" src="../gallery/image7.jpg" />
      <img class="image-item" src="../gallery/image8.jpg" />
      <img class="image-item" src="../gallery/image9.jpg" />
      <img class="image-item" src="../gallery/image10.jpg" />
      <img class="image-item" src="../gallery/image11.jpg" />
      <img class="image-item" src="../gallery/image12.jpg" />
      <img class="image-item" src="../gallery/image13.jpg" />
      <img class="image-item" src="../gallery/image14.jpg" />
      <img class="image-item" src="../gallery/image15.jpg" />
      <img class="image-item" src="../gallery/image16.jpg" />
      <img class="image-item" src="../gallery/image17.jpg" />
      <img class="image-item" src="../gallery/image18.jpg" />
      <img class="image-item" src="../gallery/image19.jpg" />
      <img class="image-item" src="../gallery/image20.jpg" />
      <img class="image-item" src="../gallery/image21.jpg" />
      <img class="image-item" src="../gallery/image22.jpg" />
      <img class="image-item" src="../gallery/image23.jpg" />
      <img class="image-item" src="../gallery/image24.jpg" />
      <img class="image-item" src="../gallery/image25.jpg" />
      <img class="image-item" src="../gallery/image26.jpg" />
      <img class="image-item" src="../gallery/image27.jpg" />
      <img class="image-item" src="../gallery/image28.jpg" />
      <img class="image-item" src="../gallery/image29.jpg" />
      <img class="image-item" src="../gallery/image30.jpg" />
      <img class="image-item" src="../gallery/image31.jpg" />
      <img class="image-item" src="../gallery/image32.jpg" />
      <img class="image-item" src="../gallery/image33.jpg" />
      <img class="image-item" src="../gallery/image34.jpg" />
      <img class="image-item" src="../gallery/image35.jpg" />
      <img class="image-item" src="../gallery/image36.jpg" />
      <img class="image-item" src="../gallery/image37.jpg" />
      <img class="image-item" src="../gallery/image38.jpg" />
      <img class="image-item" src="../gallery/image39.jpg" />
      <img class="image-item" src="../gallery/image40.jpg" />
      <img class="image-item" src="../gallery/image41.jpg" />
      <img class="image-item" src="../gallery/image42.jpg" />
      <img class="image-item" src="../gallery/image43.jpg" />
      <img class="image-item" src="../gallery/image44.jpg" />
      <img class="image-item" src="../gallery/image45.jpg" />
      <img class="image-item" src="../gallery/image46.jpg" />
      <img class="image-item" src="../gallery/image47.jpg" />
      <img class="image-item" src="../gallery/image48.jpg" />
      <img class="image-item" src="../gallery/image49.jpg" />
      <img class="image-item" src="../gallery/image50.jpg" />
    </div>
    <button id="next-slide" class="slide-button material-symbols-rounded">chevron_right</button>
  </div>
  <div class="slider-scrollbar">
    <div class="scrollbar-track">
      <div class="scrollbar-thumb"></div>
    </div>
  </div>
</div>
