body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

:root {
  --App-bck-grnd-clr: #f3f1f1;
  --App-todo-heading-txt-clr: #fff;
  --todo-task-item-txt-clr: #000;
  --todo-task-item-completed: #90ee90;
  --heading-background-clr-1: blue;
  --heading-background-clr-2: pink;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  background-color: var(--App-bck-grnd-clr);
  color: var(--App-todo-heading-txt-clr);
  display: block;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.todo-item-container {
  color: var(--todo-task-item-txt-clr);
  text-align: left;
}

.buttonclass {
  margin: 0;
  width: 80%;
}

.ulist {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 15px;
}

.li-expander {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.form-container input {
  font-size: 26px;
}

.form-container button {
  font-size: 20px;
  margin: 10px;
}

.form-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.spantext2,
text {
  margin: 0;
  padding: 0;
  width: 100%;
}

.spantext2 {
  background-color: var(--todo-task-item-completed);
  opacity: 0.2;
}

.header {
  background-color: #fff;
  box-shadow: 0 2px 5px #0000001a;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.title-wrapper {
  background-image: linear-gradient(to right, var(--heading-background-clr-1), var(--heading-background-clr-2));
  color: linear-gradient(to right, var(--heading-background-clr-1), var(--heading-background-clr-2));
  display: grid;
  grid-template-columns: 5fr 1fr;
}

h1 {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #9cbb54, #fdfdfb);
  color: #0000;
}

.title-wrapper h1 {
  margin: 0;
}

.coffee-wrapper {
  align-self: center;
  margin-top: 10px;
}

button {
  background-color: #d84343;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

@media screen and (max-width: 777px) {
  .form-container input {
    font-size: 18px;
  }

  .form-container button {
    font-size: 16px;
    margin: 8px;
  }
}