#section-8 {
  position: -webkit-sticky; /* Sticky positioning for better cross-browser compatibility */
  position: sticky;
  bottom: 0; /* Sticks to the bottom */
  background-color: rgb(216, 23, 216);
  z-index: 3;
}
.section-8-bg {
  height: 100%;

  background-image: url("../media/15823137_10207939062689864_2813335121988978620_n.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
  position: absolute;
  top: 0;
  
}
.section-8-container {
  width: 100%;
  height: 80%;
  color: black;
  z-index: 4;
}