<div class="container">
  <a href="https://www.yourwebsite.com" class="footer-link">Website created & designed by Jericho Sharman</a>
  <div class="social-links">
    <a href="https://www.facebook.com/CJunk351/" class="social-link" target="_blank" rel="noopener noreferrer"
      ><i class="fab fa-facebook-f"></i
    ></a>
    <a href="https://twitter.com/cjunk351" class="social-link" target="_blank" rel="noopener noreferrer"
      ><i class="fab fa-twitter"></i
    ></a>
    <a href="https://www.instagram.com/jericho351/?hl=en" class="social-link" target="_blank" rel="noopener noreferrer"
      ><i class="fab fa-instagram"></i
    ></a>
  </div>
</div>
