<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: linear-gradient(to right, rgb(214, 9, 9), rgb(141, 5, 27));">
  <a class="navbar-brand" href="#">Nez Balloons: Balloon Twisting</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#section-1">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-2">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-3">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-4">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-5">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-6">Testimonials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-7">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-8">Contact</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="https://www.facebook.com/nezballoonz" class="nav-icon" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/nezballoons/?hl=en" class="nav-icon" target="_blank"><i class="fab fa-instagram"></i></a>
      | BALLOON TWISTING | Call me: 0410 565 693
    </span>
  </div>
</nav>



