.row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;

}

/* THE IMAGE ICON*/
.img-wrapper {
  width: 100%;
  height: 100%;
}

/* QUANTITY BUTTON  */
.qty-button {
  width: 35%;
}
.qty-button-dec {
  background-color: red;
  color: white;
}
.qty-buttons-container {
  width: 25%;
  display: flex;
  justify-content: space-around;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .qty-button {
    margin-right: 50px;
    width: 125%;
  }
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-= */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    background-color: blue;
    /* Just to check if media query is working */
  }
}


